/* layout < */

body {
    background: #1f1913 url(../images/bg/body-bg.png) repeat;
    min-width:980px;
}
.wrapper {
    background: url(../images/bg/wall-bg.png) repeat-x 0 40px;
    min-width:980px;
    position: relative;
}
.section {
    position: relative;
}
.section__in {
    margin:0 auto;
    position: relative;
    width:980px;
}

/* layout > */


/* header < */

.top {
    background: #1e1a12;
    border-bottom:1px solid #372e24;
    height:40px;
    
    .menu_top {
        left:0;
       top:11px;
       position: absolute; 
    } 
}

.auth {
    top:20px;
    position: absolute;
    right: 0;
    top: 10px;
    text-align: right;   

    .auth__action {
        color:@yellow;
        display:inline-block;
        vertical-align: top;
        margin-left:20px;
        letter-spacing: normal;
    }

}
.header {    
    background: url(../images/bg/header-bg.png) no-repeat 50% -40px;
    height: 165px;  
    position: relative;
    
    .logo {                
        float:left;
        
        .logo__image,
        .logo__link {
           display: block; 
        }
    }
    
    .shedule {
        float:left;
        margin: 10px 0 0 40px;
        width:310px;
    }
    
    .guaranties {
        float:left;
    }
    .shopping-cart {
        float:right;
        width:80px;    
    }
}

.nav {
    float: left;
    margin-left:129px;
}


/* components < */




/* menu < */

.menu {
    list-style: none;
}

.menu__item {
    display: inline-block;
    list-style: none;
    vertical-align: top;

    .link  {

	text-decoration: none;
	display: inline-block;
	position: relative;
    }
    .active {

	display: inline-block;
	position: relative;
	cursor: default;

    }
}

.main-nav {
    float:left;
    margin-top: 14px;
    font-size:18px;
   line-height:21px;

   .menu__item {
       margin-right:27px;
   }
   .link {
       color:#fff;
   }

   .active {
       color:#afafaf;
   }
}



/* menu < */


/* banner < */

.slides {
    overflow:hidden;
}

.slidesjs-container,
.slidesjs-control,
.slides {
    height: 350px !important;
}
.slides__item  {
    display: block;
    height: 350px;
    position: relative;
    text-decoration: none;
    width:100%;
}

.slide-img {
    height:auto;
    position:absolute;
    width:100%;
    z-index:1;
}
.slidesjs-pagination {
    bottom:24px;
    left:50%;
    margin-left:-480px;
    position: absolute;
    text-align: right;
    width:960px;
    z-index:10;
}
.slidesjs-pagination-item {
    display:inline-block;
    margin-left: 10px;
    vertical-align: top;

    a {
	background: @color-text-link;
	.rounded(50%);
	display:block;
	height:10px;
	overflow: hidden;
	text-decoration: none;
	text-indent: 9999px;
	width:10px;
    }
    .active {

    }
}

.slide-title {

    font-size:50px;

    display:block;
    line-height: 54px;
    letter-spacing: -1px;
    margin:49px auto 44px;
    position: relative;
    text-align: center;
    width:960px;
    z-index: 10;
}
.slide-text {
    color:#fff;
    font-size:16px;
    display:block;
    line-height: 28px;
    margin:0 auto 20px;
    position: relative;
    text-align: center;
    width:960px;
    z-index: 10;
}
.slide-title_additional {
    color:@color-text-link;
    font-size:34px;
    line-height: 38px;
    margin-top:20px;
}

/* banner > */

/* pagination < */

.section__pagination {
    margin:30px 0;
}

.pagination__label {
    color:#afafaf;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 3px;
}
.pager {
    margin: 0 0 0 81px;
    padding: 0;
}
.pager-item,
.pager-current {
    display: inline-block;
    font-size: 14px;
    height: 27px;
    width:27px;
    text-align:center;
    line-height: 26px;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: top;
}

.pager-item {
    a {
	color: #4C4D4F;
	display: inline-block;
	height: 27px;
	width:27px;
	line-height: 26px;
	vertical-align: top;
	text-decoration: none;
    }
}
.pager-current {

    color: #FFFFFF;
    cursor: default;
    .rounded;
}
/* pagination > */


/* components > */