/* layout < */

body {
    background: #ffffff;
    min-width:960px;
}
.section {
    position: relative;
}
.section__in {
    margin:0 auto;
    position: relative;
    width:960px;
}
.section_page-content {
    padding-bottom:45px;

    .section__in {
	padding-top:30px;
    }
}

.section__title {
    font-family:@font-play;
    color: #000;
    font-size: 24px;
    line-height: 28px;
    margin-top:23px;
    padding-bottom:26px;
}

sub {
    color:#afafaf;
    top:-6px;
    position: absolute;
    right:0;
    font-size:11px;
    font-family: @font-normal;
    line-height: normal;
}
.sub-info {
    color:#afafaf;
    font-family: @font-normal;
    vertical-align: middle;
    font-style:normal;
    font-size:11px;
    line-height: 14px;
}
/* layout > */


/* header < */
.header {
    background: #333333;
    height: 50px;
    overflow: hidden;
    padding-top:50px;
    position: relative;
    z-index:50;
}

.fixed-top {
    background: #333333;
    height: 50px;
    position: fixed;
    z-index: 101;
    width:100%;

    .search {
	position: absolute;
	right:-3px;
	top:10px;
    }

       .field_search {
	background: #272727;
	color: #fff;
	padding: 7px 35px 7px 10px;
	width: 235px;
	.rounded;
    }

    .search-results {
	background: #272727;
	display:none;
	left:0;
	position: absolute;
	top:40px;
	width:100%;
	z-index: 100;
	.rounded;
    }

    .search-results__header {
	font-size:18px;
	padding:0 10px;
	height: 49px;
	line-height: 48px;
	color:@color-action-link;
    }

    .search-results-count {
	color:@color-text-link;
    }

    .results-list__item {
	border-top:1px solid #323232;
	font-size:18px;
	padding:0 10px;
	height: 49px;
	white-space:nowrap;

	.link {
	    font-size: 14px;
	    color:@color-action-link;
	    line-height: 48px;
	    text-decoration: none;
	    width: 215px;
	    .ellipsis;

	}
    }
}



.logo {
    float:left;
    margin: 19px 40px 0 0;

    img {
	display:block;
    }
}


.nav {
    float: left;
    margin-left:129px;
}
.header-nav {
    margin: 40px 0 0;
    padding: 0;

    .header-nav__item {
	float: left;
	border-left: 1px solid #d9d9d9;
	margin: 0 16px 0 0;
	padding:0 0 0 14px;

	&:first-child {
	    border:0;
	    padding: 0;
	}
	.link {
	    color: @color-text;
	    text-decoration: none;
	    font-size: 15px;
	    &:hover {
		text-decoration: underline;
	    }
	}
    }

}

.auth {
    letter-spacing: -4px;
    position: absolute;
    right: 0;
    top: 10px;
    text-align: right;
    overflow: hidden;
    width: 410px;
    z-index:10;

    .auth__action {
	display:inline-block;
	vertical-align: top;
	margin-left:20px;
	letter-spacing: normal;

	.user__img {
	    margin-right:0;
	}
    }

    .link_login {
	font-family: @font-play;
	font-size: 18px;
        line-height:22px;
	position:relative;
	text-decoration: none;
	margin-top:5px;
    }
    .link_user-messages {
	font-size: 11px;
	line-height: 10px;
	margin-right: -15px;
	margin-top: 1px;

	.ico {
	    vertical-align: top;
	    margin-left: 4px;
	    line-height: 11px;
	}
    }
}


    .userpic {
	height: 32px;
        margin-right: 47px;
        overflow: hidden;
        position: relative;
        width: 32px;
        z-index: 2;
    }
    .userpic__img {
	width:30px;
	height:auto;
    }
    .ico_arrow-down {
	position:absolute;
	right:30px;
	top:12px;
    }


/* components < */


/* .action-menu <  */

.action-menu__item {
    display:inline-block;
    vertical-align:top;
    margin-left:18px;

    &:first-child {
	margin: 0;
    }

    .link {
	color:#afafaf;
	font-size:12px;
	line-height: 21px;
	text-decoration: none;
    }

    .ico {
	margin-right:3px;
    }
}

/* .action-menu >  */

/* menu < */

.menu__item {
    display: inline-block;
    vertical-align: top;

    .link  {
	font-family: @font-play;
	text-decoration: none;
	display: inline-block;
	position: relative;
    }
    .active {
	font-family: @font-play;
	display: inline-block;
	position: relative;
	cursor: default;

    }
}

.main-nav {
    float:left;
    margin-top: 14px;
    font-size:18px;
   line-height:21px;

   .menu__item {
       margin-right:27px;
   }
   .link {
       color:#fff;
   }

   .active {
       color:#afafaf;
   }
}

.sub-nav {
   font-size:22px;
   line-height:33px;

   .menu__item {
       margin-right:34px;
   }
   .link {
       color:#777;
   }

   .active {
       color:#000;
   }

   sub {
       top:-8px;
   }
}

/* menu < */

/* section_page-header < */

.section_page-header {
    background: @color-billet;
    border-bottom:1px solid #ededed;
    padding: 21px 0 23px;

    .action-menu {
	margin-top: -7px;
	position: absolute;
	right: 0;
	text-align: right;
	top: 50%;
    }
}

.page-title {
    font-family: @font-play;
    font-size:30px;
    line-height: 36px;
    display: inline-block;
    vertical-align: top;

    .sub-info {
	line-height: 24px;
	vertical-align: bottom;
    }

}


/* section_page-header > */

/* information-message < */

.information-message {
    background: @color-billet;
    display: block;
    margin-bottom: 30px;
    padding: 10px;
    .rounded;

    .ico {
	background-position: 50% 50%;
	background-size: cover;
	height: 25px;
	width: 25px;
	float:left;
	margin-right: 10px;
    }
}
.information-message__text  {
    display: block;
    font-size:14px;
    overflow: hidden;
    padding-top:4px;
}
.information-message_hint {
    background: none;
    margin:0;
    padding:10px 0 0 0;
    width:480px;

    .information-message__text {
	color:@color-text;
	font-style:italic;
	font-size:12px;
	padding-top:5px;
    }
}

.information-message__text {
    .field-box {
	display: block;
	font-style: normal;
	font-size: 14px;
	margin-top:6px;
    }
}

.information-message_note {
    background: none;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    padding: 30px 0 23px;
    line-height: 21px;

}
/* information-message > */

/* view-settings < */

.view-settings {
    position: relative;
    min-height:27px;
    margin-bottom:30px;

    .view-settings__label {
	color: @color-action-link;
	display: inline-block;
	font-size:14px;
	vertical-align: middle;
	margin-right: 15px;
    }

    .view-settings-list {
	display: inline-block;
	vertical-align: middle;
    }

    .view-settings-list__item {
	margin-right: 7px;
	display: inline-block;
	font-size:14px;
	vertical-align: middle;
    }

    .link {
	color:#777777;
	font-size:14px;
	display: inline-block;
	padding:0 11px;
	text-decoration: none;
	vertical-align: top;
	height: 27px;
	line-height: 27px;
    }
     .btn {
	position: absolute;
	top:1px;
	right:0;
    }

    .active {
	height: 27px;
	line-height: 26px;
	cursor: default;
    }

}

.view-settings_filter {

    .active {
	padding:0 11px;
	color:#fff;
	display: inline-block;
	vertical-align: top;
	.orange-gradient;
	.rounded(13px);
    }
}

.view-settings_sort {

    .view-settings-list__item {
	margin:0 22px 0 0;
    }
    .link {
	padding:0;
    }
    .active {
	color:#000;
    }
}

/* view-settings > */


/* banner < */

.slides {
    overflow:hidden;
}

.slidesjs-container,
.slidesjs-control,
.slides {
    height: 350px !important;
}
.slides__item  {
    display: block;
    height: 350px;
    position: relative;
    text-decoration: none;
    width:100%;
}

.slide-img {
    height:auto;
    position:absolute;
    width:100%;
    z-index:1;
}
.slidesjs-pagination {
    bottom:24px;
    left:50%;
    margin-left:-480px;
    position: absolute;
    text-align: right;
    width:960px;
    z-index:10;
}
.slidesjs-pagination-item {
    display:inline-block;
    margin-left: 10px;
    vertical-align: top;

    a {
	background: @color-text-link;
	.rounded(50%);
	display:block;
	height:10px;
	overflow: hidden;
	text-decoration: none;
	text-indent: 9999px;
	width:10px;
    }
    .active {
	background: @color-banner-orange;
    }
}

.slide-title {
    color:@color-banner-orange;
    font-size:50px;
    font-family:@font-play;
    display:block;
    line-height: 54px;
    letter-spacing: -1px;
    margin:49px auto 44px;
    position: relative;
    text-align: center;
    width:960px;
    z-index: 10;
}
.slide-text {
    color:#fff;
    font-size:16px;
    display:block;
    line-height: 28px;
    margin:0 auto 20px;
    position: relative;
    text-align: center;
    width:960px;
    z-index: 10;
}
.slide-title_additional {
    color:@color-text-link;
    font-size:34px;
    line-height: 38px;
    margin-top:20px;
}

/* banner > */

/* search-panel < */

.search-panel {
    margin-bottom:30px;
    padding:20px;
    .green-gradient;
    .rounded;

    .field_search {
	background:#fff;
	width:875px;
    }
    .form-fields {
	margin-top:20px;

	&:first-child {
	    margin: 0;
	}
    }

    .tags-list {
	margin-bottom:0;
	border:0;
	padding-bottom:0;
    }

    .tags-list__item {
	&:after {
	    background: #fff;
	}
	.link {
	    color:#fff;
	}
    }

}

/* search-panel > */

/* tags-list < */

.tags-list {
    margin-top: 10px;
    padding-bottom:16px;
    margin-left: -6px;
    border-bottom: 1px solid #EDEDED;
}

.tags-list__item {
    display: inline-block;
    padding-right: 15px;
    margin-left: 6px;
    margin-top:8px;
    position:relative;
    vertical-align: top;
    white-space:nowrap;

    &:after {
	background: #afafaf;
	content: "";
	position: absolute;
	right:0;
	width:5px;
	height: 5px;
	.rounded(50%);
	top:7px;
	}

    .link {
	font-style: italic;
	color:#777777;
	text-decoration: none;
	position:relative;
    }
}

/* tags-list > */

/* element < */

.element-box {
    position: relative;
    border-bottom:1px solid #ededed;
    border-top:1px solid #ededed;
    height: 80px;
    padding: 30px 0;
}
.element-footer {
    height: 25px;
    bottom:1px;
    position: absolute;
    width:100%;

    .action-menu {
	text-align: right;
    }
}

.element__info {
    overflow: hidden;
    width:630px;
}
.element__genre {
    font-family:@font-play;
    color: #777777;
    display: block;
    font-size: 17px;
    line-height: 21px;
}
.element__name {
    font-family:@font-play;
    color: #000;
    font-size: 24px;
    line-height: 35px;
    vertical-align: top;
    max-width: 585px;
    .ellipsis;
     display: inline-block;
}
.element__title {
    margin-bottom: 6px;

    .sub-info {
	line-height: 27px;
	vertical-align: bottom;
    }
}

@-moz-document url-prefix() {
    .element__title .sub-info {
	line-height: 26px;
    }

    .page-title .sub-info {
	line-height: 21px;
	vertical-align: bottom;
    }
}
.sub-info_date {
    position: absolute;
    right:0;
    top:7px;
}

.userbox {
    display:block;


    .user__img {
	height: 30px;
	margin-right:7px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	width:30px;
	.rounded;

	img {
	    display: block;
	    height: 30px;
	    width: 30px;
	}
    }
    .user__info {
	display: inline-block;
	vertical-align: top;
	max-height: 50px;
	overflow: hidden;
    }
    .user__name {
	color:@color-text;
	font-size:14px;
	line-height: 15px;
	white-space: nowrap;
	.ellipsis;
    }
    .sub-info {
	display: block;
    }

}

.action-menu_social {

    .action-menu__item {
	min-width:40px;
    }
}

/* element > */

/* tracks  < */
.tracks-list__item {
    margin-top:-1px;
}
.track-box {
    position:relative;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 30px;

    .userbox {
	position: absolute;
	right: 63px;
	top:55px;
    }
    .user__info {
	text-align: right;
	margin-right: 5px;
	max-width: 105px;
	overflow: hidden;
    }
}

.sub-info_track-time {
    position: absolute;
    top:7px;
    width:80px;
    text-align: center;
    left:0;
}

.track__img {
    .rounded(50%);
    float:left;
    height: 80px;
    margin-right: 20px;
    overflow:hidden;
    width:80px;

    img {
	display: block;
	min-height: 80px;
	min-width: 80px;
    }
}

.link_track-action {
    position: absolute;
    right:0;
    top:45px;
}

/* tracks  > */

/* posts < */

.posts-list__item {
    margin-top:-1px;

    .post-box {
	padding-top:20px;
    }
}

.post-box {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 24px;
    height: auto;
    position:relative;

    .profile-box {
	border-bottom: 1px solid #EDEDED;
	margin-bottom: 25px;
	padding-bottom: 29px;
    }

    .post-promo-img {
	display: block;
	max-width: 960px;
	margin-top:16px;
	margin-bottom:13px;
	.rounded;
    }

    .element__name {
	max-width: 965px;
	white-space: normal;
	display: inline;
    }
    .userbox {
	margin-bottom:13px;
	margin-top:13px;
    }
    .post-content {
	font-size:14px;
	margin-bottom:9px;
	line-height: 20px;
    }
    .link_more {
	text-decoration: none;
    }

}

.section__in > .post-box .sub-info_date,
.section__in > .track-box .sub-info_date {
    top:-23px;
}

/* posts > */

/* users < */

.users-list__item {
    margin-top:-1px;
}

.profile-box {

    .user__img {
	float:left;
	width:80px;
	height:80px;
	margin-right: 18px;
	overflow:hidden;
	.rounded;

	img {
	    display: block;
	    min-height: 80px;
	    min-width: 80px;
	}
    }
    .element__title {
	margin-bottom: -1px;
	margin-top:-8px;
    }
    .element__info {
	max-width: 730px;

	.action-menu {
	    margin-top:-1px;
	}

	.btn {
	    margin-top:-4px;
	}
    }

}
 .user-genres {
     color:#777777;
     font-size:14px;
     display: block;
     margin-bottom:12px;

     .link {
	  color:#777777;
     }
 }

 .user-profile {
     position: absolute;
     right:0;
     top:25px;
     text-align: right;
 }
 .user-location {
     font-size:14px;
     display: block;
     line-height: 20px;
     color:#000;
 }
 .user-group {
     color:#777777;
     font-size:18px;
     font-family: @font-play;
     line-height: 28px;
     margin-bottom:15px;
 }
 .user-activity {
     display: inline;
      margin-left:5px;

     dt, dd {
	 display: inline;
	 color:#afafaf;
	 font-size: 12px;
     }
 }
/* users > */

/* comments < */

.comments-list__item {
    margin-top:-1px;
}

.comment-box {
    height:auto;

    .user__img {
	float:left;
	width:60px;
	height:60px;
	margin-right: 15px;
	overflow:hidden;
	.rounded;

	img {
	    display: block;
	    min-height: 60px;
	    min-width: 60px;
	}
    }
    .element__title {
	display: inline-block;
	vertical-align: top;
	margin:0;
    }
    .element__name {
	font-weight: bold;
	font-size:14px;
	color:#000;
	font-family: @font-normal;
	line-height: 18px;
    }
    .action-menu {
	display: inline-block;
	vertical-align: top;
	margin-left:12px;
	margin-top: -1px;

    }
    .element__info {
	margin-left: 75px;
	margin-top: -2px;
	margin-bottom: -5px;
	max-width: 815px;
	width: 815px;
	overflow: visible;
	position: relative;
    }
    .comment__text {
	font-size:14px;
	margin-top:5px;
	overflow: hidden;
    }

}
.action-menu_likes {
    bottom: -2px;
    position: absolute;
    right: -70px;

    .ico {
	margin:-3px 0px 0 2px;
    }
}
.users-img-list {

    .user__img {
	height: 30px;
	width: 30px;
	overflow: hidden;
	margin:0;

	img {
	    display: block;
	    height: 30px;
	    width: 30px;
	    .rounded;
	}
    }
}
.users-img-list__item {
    display: inline-block;
    vertical-align: top;
    margin-left:10px;

    &:first-child {
	margin:0;
    }
}
/* comments > */

/* pagination < */

.section__pagination {
    margin:30px 0;
}

.pagination__label {
    color:#afafaf;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 3px;
}
.pager {
    margin: 0 0 0 81px;
    padding: 0;
}
.pager-item,
.pager-current {
    display: inline-block;
    font-size: 14px;
    height: 27px;
    width:27px;
    text-align:center;
    line-height: 26px;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: top;
}

.pager-item {
    a {
	color: #4C4D4F;
	display: inline-block;
	height: 27px;
	width:27px;
	line-height: 26px;
	vertical-align: top;
	text-decoration: none;
    }
}
.pager-current {
    .orange-gradient;
    color: #FFFFFF;
    cursor: default;
    .rounded;
}
/* pagination > */

/* add comment < */

  .panel {
    background: @color-billet;
    margin: 30px 0;
    padding: 19px;
    .rounded;

    .field_type_textarea {
	padding-top: 4px;
	padding-bottom: 5px;
    }

}

.comment-panel {
    .panel;

    .field_type_textarea {
	height: 16px;
	padding-top: 4px;
	padding-bottom: 5px;
	width:805px;
    }
    .btn__in {
	width: 83px;
    }
}
/* add comment < */

/* current-track < */

.current-track {
    background: #272727;
    padding:10px 10px 0 50px;
    position: absolute;
    top:48px;
    left:152px;
    height: 42px;
    overflow: hidden;
    width:350px;
    z-index:100;
    .rounded(4px);

    .ico_disk {
	position:absolute;
	left:10px;
	top:10px;
	opacity:0.8;
    }

    .current-track__name {
	color:#fff;
	.ellipsis;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	text-decoration: none;
	display:block;
	width: 350px;
    }
}

.uploaded-files {
    margin-top:27px;
    .file {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;

	.user__img {
	    width:80px;
	    height:80px;
	    overflow:hidden;
	    display: block;
	    .rounded;

	    img {
		display: block;
		min-height: 80px;
		min-width: 80px;
	    }
	}

	.track__img {
	    margin:5px 0 0 0;
	}
    }



    .action-menu {
	display: inline-block;
	vertical-align: middle;
    }


    .uploaded-files__item {
	margin-bottom: 20px;

	&:last-child {
	    margin-bottom: 0;
	}
    }

    & + .information-message {
	margin-top:10px;
    }

     & + .form-fields {
	margin-top:25px;
    }
}

/* current-track > */

/* view track < */

.track-box_top {
    padding-top:18px;
    padding-bottom:3px;
    border:0;

     .element__title {
	margin-bottom:7px;
    }

    .element__name {
	font-size: 30px;
	line-height: 36px;
	max-width: 800px;
    }
    .sub-info {
	line-height: 21px;
	vertical-align: bottom;
    }
    .sub-info_track-time {
	top:3px;
	text-align: left;
    }
    .element__genre {
	display: inline;
	margin-right: 17px;
    }
    .action-menu {
	display:inline;
	position: relative;
	top:auto;
	left:auto;
	margin:0;

    }
    .link_track-action {
	top:15px;
    }
}

.track__img_full {
    margin-right: 30px;
    height:auto;
    width:280px;
    .rounded(5px);

    img {
	min-width: 280px;
	.rounded(5px);
	height: auto;
    }
}

.track-box {
    .profile-box {
	margin-bottom:24px;

	.element__info {
	    width:500px;
	}

    }

    .track-info {
	font-size:14px;
    }

}
/* view track < */

/* user-messages < */

.profile-box_top  {
    border-bottom: 1px solid #EDEDED;
    margin-bottom:20px;
    padding-bottom: 29px;
    padding-top:9px;
    position:relative;

    .element__info {
	 max-width: 1000px;
	width: 860px;

	.action-menu {
	    position: relative;
	    vertical-align: top;
	    top:auto;
	    margin:0 0 0 17px;
	    display: inline-block;
	}
    }

    .user-profile {
	top:5px;
    }

}
.form_filter-messages {
    .field_type_select {
	width:183px;
    }
    .action-menu {
	margin-left: 7px;
	margin-top: 3px;
    }

    .btn {
	position: absolute;
	right: 0;
	top: 1px;
    }
}
.form_message {
    .field_type_textarea {
	height:32px;
	width:900px;
    }
    .form-fields__item {
	margin-bottom:-10px;
    }
}

.section_messages {
    .section__title {
	border-top:1px solid #ededed;
	padding-top:23px;
    }
}

.table {
    border-top:1px solid #ededed;
    margin-bottom:30px;
    font-size: 14px;
    color:#444444;

    table-layout: fixed;
    width:100%;

    .col-input {
	width: 22px;
    }
    .col-theme {
	width:575px;
    }
    .col-users {
	width:180px;

    }
     .col-updates {
	width:180px;

    }

    td span {
	color:#777777;
    }
    td, th {
	border-bottom:1px solid #ededed;
	padding:10px 10px 10px 0;
    }
    th, th .link {
	color:#000;
    }
}

.table_messages {
    margin-bottom:130px;
}

/* user-messages > */

/* gallery < */

.image-gallery {
    float:left;
    margin-right:30px;
    width:280px;

    img {
	height:280px;
	width:280px;
	.rounded;
    }
}
.image-gallery__view {
    height:280px;
    overflow: hidden;
    width:280px;
    .rounded;
}
.thumbnails {
    margin-left:-20px;
}
.thumbnails__item {
    height:80px;
    float:left;
    margin:20px 0 0 20px;
    overflow: hidden;
    width:80px;
    .rounded;

    img {
	height:80px;
	width:80px;
	.rounded;
    }
}
/* gallery > */

/* wall < */

.section_wall {
    overflow:hidden;

    .note:first-child {
	margin-bottom: -5px;
    }

    .field_type_textarea {
	width:590px;
	height: 40px;
    }

    .comment-box .element__info {
	width:503px;
    }
}
/* wall > */


/* popup < */

.popup_contacts {
    background: #fff;
    width:480px;
    .rounded;

    .element__name {
	min-height: 35px;
	padding:10px 55px 10px 20px;
	font-size:22px;
    }
}

.user-contact {
    border-top:1px solid #ececec;
    overflow: hidden;
    min-height: 35px;
    padding:10px 20px;
    font-size:14px;
    font-weight: bold;

    .user-contact__title {
	float:left;
	color:#777777;
	width:125px;
	line-height: 35px;
    }
    .user-contact__value {
	overflow: hidden;
	line-height: 35px;
    }

}

.note {
    color:#444444;
    font-size:14px;
    line-height: 20px;
    margin-bottom:15px;
}

/* popup > */

/* login < */

.form_login {
    margin-bottom:30px;
    width: 480px;
}

/* login > */

/* form_register <  */

.form_register {

    .form-fields {
	margin: 0 0 25px 102px ;
    }
    .form-fields__item {
	text-align: center;
	width:365px;
    }
    .field-box_radio {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-family: @font-play;
	font-size:26px;
	padding:0;
	line-height: 28px;
	.opacity;
	.ico {
	    display: block;
	    margin: 0 auto 42px;
	}
    }
    .field-box_radio_active {
	.opacity(1);
    }
    .field_type_radio {
	position: absolute;
	left:50%;
	margin-left:-6px;
	top:190px;
    }

}
/* form_register >  */

/* tooltip < */

.tooltip {
    background: #fff;
    border: 1px solid #fff;
    box-shadow:0 0 5px 1px rgba(0,0,0, 0.3);
    padding:6px 10px 11px;
    position:absolute;
    display: none;
    top:0;
    left:0;
     z-index: 200;
    .rounded;
}
.tooltip__content {
    position:relative;

    .tooltip-note {
	color:#777777;
	display: block;
	font-size:12px;
	margin-bottom: 5px;
	white-space: nowrap;
    }

    .users-img-list {
	white-space: nowrap;
    }
}

/* tooltip > */

/* components > */