/* reset < */

    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    button,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video,
    form, input, textarea, select, fieldset {
        margin: 0;
        padding: 0;
        border: 0;
	outline:0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}


/* reset > */

/* constants < */

/* colors > */

@color-text:#bbbbba;
@color-text-link:#a18c56;
@yellow:#bc942f;
@gray:#4e493b;



/* background urls > */

@bg-icons:url('../images/bg/icons.png');


/* fonts > */
@font-family-opensans:'open_sansregular', Tahoma, sans-serif;
@font-family-opensans-bold:'open_sansbold', Tahoma, sans-serif;
@font-family-opensans-semibold:'open_sanssemibold', Tahoma, sans-serif;
@font-family-opensans-light:'open_sanslight', Tahoma, sans-serif;
@font-family-opensans-light-it:'open_sanslight_italic',Tahoma, sans-serif;

@font-normal:@font-family-opensans-light;

.rounded(@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
/* constants > */



/* content styles < */

body {
    font:12px/1.42 @font-normal;
    width: 100%;
    color:@color-text;
}

.link, a {
    color:@color-text-link;
    text-decoration:none;
}
.link_action {
    font-family:@font-family-opensans-light-it;
    font-size:12px;
}
p {
    margin-bottom:10px;
    font-size:14px;
}
h2 {
   color:@yellow;
   font-size:20px;
   margin-bottom:20px;
}
h6 {
    color:@yellow;
    margin-bottom:10px;
}

.list_marked {
    list-style: none;
}

h3.small-title {
    color:#a18c56;
    font-size:20px;
    margin-bottom:15px;
}
.pure-content {
    font-size:14px;
    line-height:20px;

    h1 {
	font-size: 28px;
	margin-top: 10px;
	margin-bottom:20px;
    }
    h2 {
	font-size: 20px;
	margin-bottom:20px;
    }
    h3 {
	font-size: 18px;
	margin-bottom:10px;
    }
    h3.small-title {
	color:#a18c56;
	font-size:20px;
	margin-bottom:15px;
    }
    h4 {
	font-size: 16px;
	margin-bottom:10px;
    }
    h5 {
	font-size: 14px;
	margin-bottom:10px;
    }
    h6 {
	font-size: 12px;
	margin-bottom:10px;
	font-family: @font-family-opensans-semibold;
    }

    .em {
	font-family: @font-family-opensans-light-it;
    }
    .bold {
	font-family: @font-family-opensans-semibold;
    }
    .center {
	text-align:center;
    }
    strong {
        font-family: @font-family-opensans-bold;
        color: @color-text-link;
    }

	ul, ol {
		margin:0 0 25px 0;
	}
	ul {
		list-style:none;

                li {
                    background: url(../images/bg/marked-list2.png) no-repeat 0 5px;
                    color:#a18c56;
                    padding-left:15px;
                    position:relative;


                }
	}
	ol {
		list-style:decimal;
	}
	img {
		margin:10px 10px 10px 0;
	}

	p {
	    font-size:14px;
	    margin-bottom: 20px;
	    line-height: 20px;
	}
}

/* content styles > */

/* clearing > */
.clearfix:after,
.section:after,
.section__in:after,
.header__main:after,
.columns-layout:after,
.categories-nav__line:after,
.product__card:after,
.product-gallery-box:after {
	content:"";
	clear:both;
	display:block;
	height:0;
	font:0/0 a;
	visibility:hidden;
}
/* clearing < */








