form,
input,
textarea,
select {
    color: @color-text;
    font-family:@font-normal;
    font-size: 14px;
    line-height: 16px;
}

.form {
    position:relative;
}
.field-box {
    position:relative;
}

textarea {
    overflow: auto;
    resize: none;
}

.field-label {
    color:#a18c56;
    font-size:14px;
    position:relative;
    margin-right:10px;
    line-height: 28px;
    float:left;
    z-index: 10;
}

.field-label_required {
    &:after {
	content:"*";
	color:#df0302;
    }
}

.form-fields,
.form-fields__item {
    list-style: none outside;
    margin: 0;
    padding: 0;
}
.form-fields__item {
    margin-bottom: 15px;
    position: relative;
    clear: both;
    display:block;
    letter-spacing: normal;
}


.field_type_text {
    background:#1c1810;
    border:1px solid #262119;
    color:#77736B;
    font-size:14px;
    height:24px;
    padding: 3px 8px;
    vertical-align: top;
}

.field_type_textarea {
     background:#1c1810;
    border:1px solid #262119;
    color:#77736B;
    font-size:14px;
    padding: 3px 8px;
    height:75px;
}

.field_type_select {
    background:#1c1810;
    border:1px solid #262119;
    color:#77736B;
    font-size:14px;
    height:24px;
    padding: 3px 8px;
}

/* custom-field < */

/* checkbox < */

.field-box_chbox {
    position:relative;
    padding-left:21px;
    line-height: 14px;
    font-size:14px;
    overflow:hidden;

    .field_type_radio,
    .field_type_checkbox {
	position: absolute;
	left:0;
	top:3px;
    }
    .field-label {
	width:auto;
	text-align: left !important;
    }
}
.field_type_radio {
    background: url(../images/bg/form.png) no-repeat 0 0;
    position:relative;
    margin-right: 8px;
    display: inline-block;
    vertical-align: top;
    margin-top:4px;
    height: 15px;
    width:15px;

    &.checked {
        background: url(../images/bg/form.png) no-repeat 0 -15px;
    }
}

.field_type_checkbox {
    background: url(../images/bg/form.png) no-repeat -15px 0;
    position:relative;
    margin-right: 8px;
    display: inline-block;
    vertical-align: top;
    margin-top:4px;
    height: 15px;
    width:15px;

    &.checked {
        background: url(../images/bg/form.png) no-repeat -15px -15px;
    }
}


/* selectbox < */

/* custom select < */
.jq-selectbox.field_type_select {
    height:26px;
}
.jq-selectbox__select {


}
.jq-selectbox__select-text {
    margin-right: 30px;
    line-height: 26px;
    .ellipsis;
}
.jq-selectbox__trigger {
    border-color: @color-text-link transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 16px;
    width: 0;
}
.jq-selectbox__dropdown {
    background: #211D16;
    border: 1px solid #262119;
    top:35px;
    left:0;
    position: absolute;
    margin:0 -1px;
    max-height: 220px;
    width:100%;
    z-index: 200;

    ul {
	padding: 0;
	position:relative;
	z-index:100;
    }
    li {
	cursor:pointer;
	font-size:14px;
	line-height:16px;
	padding:3px 10px;

	&:hover,
	    &.sel,
	    &.selected {
	    background:@color-text-link;
	    color:#fff;
	}
    }
}
/* custom select > */


/* selectbox > */

/* checkbox > */

/* custom-fields > */

/* buttons < */

.btn {
    background: url(../images/bg/btn-bg.png) repeat-x 0 0;
    border:1px solid #000;
    color:#fff;
    cursor: pointer;
    height: 28px;
    display: inline-block;
    font-size:14px;
    vertical-align: top;
    line-height: 28px;
    padding:0 8px;
    position:relative;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}

input.btn {
    height:30px;
}
.btn_style_dark {
  background: url(../images/bg/btn-dark-bg.png) repeat-x 0 0;
  color:#a18c56;
}
@-moz-document url-prefix() {
    input[type="submit"],
    input[type="button"] {
	padding-bottom:3px !important;
    }
}
input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

.btnset {
    .link_action {
	display: block;
	margin-top:5px;
    }
}

.btnset_right {
    text-align: right;

    .btn {
	margin-left: 10px;
    }
}

.btnset_center {
    margin-left: 0 !important;
    text-align: center;
}

.btn_large {
    background: url(../images/bg/btn-large-bg.png) repeat-x 0 0;
    height:58px;
    line-height: 56px;
    font-size:22px;

    &.btn_style_dark {
	background: url(../images/bg/btn-large-dark-bg.png) repeat-x 0 0;
	color:#a18c56;
    }
}
/* buttons > */

/* form standard < */

.form_standard {
    margin-top:35px;

    .form-fields__item {
	margin-bottom: 30px;
    }
    .field-label {
	text-align: right;
	line-height: 31px;
	width: 260px;
    }

    .field_type_text,
    .field_type_select {
	background-color: #211d16;
	width: 385px;
    }

    .information-message {
	margin-left: 270px;
    }

    .btnset_right {
	width: 673px;
    }
    .field_size_short {
	width:20px;
    }

}

/* form standard > */


.form-fields_inline {
    .form-fields__item {
	display: inline-block;
	margin:0;
	vertical-align: top;

	&:first-child {
	    margin:0;
	}
    }
}

/* information-message < */

.information-message {
    display: block;
    padding:16px 0 0 0;
    width:385px;

    .ico {
	float:left;
	margin-right: 10px;
    }
    .information-message__text  {
	display: block;
	overflow: hidden;
	padding-top:4px;
	color:#6b675f;
	font-family: @font-family-opensans-light-it;
	font-size:14px;
	line-height: 22px;
	padding-top:5px;
	padding-left:2px;
    }
    .date {
	color:#a18c56;
    }
}
.information-message_freew {
    width:auto;
}


/* information-message > */

/* autocompleter < */
.ui-helper-hidden-accessible {
    display: none;
    height: 0;
}
.ui-autocomplete {
    position: absolute;
    border: 1px solid #262119;
    color: #77736B;
    font-size: 14px;
    background-color: #211D16;
    width:385px;
    z-index:100;

    li {
	padding: 3px 8px;
	cursor: pointer;
    }

    a {
	color: #77736B;
    }
    .ui-state-focus {
	color:#A18C56;
    }
}

/* autocompleter > */

/* errors < */

.field_state_error {
    border-color:#a83f3f;
}
/* errors > */

/* form-lines < */

.form-lines__item {
    margin-top: 1px;

    .hint {
	color:#aaa7a3;
	display: none;
	font-family: @font-family-opensans-light-it;
	font-size: 12px;
	line-height: 18px;
	margin:5px 0 15px 270px;
	width:370px;
    }
}
.form-lines__header {
    background: #221b08;
    height: 42px;
    position:relative;

    .delivery-details,
    .field-label {
	line-height: 42px;
    }

    .field_type_radio {
	margin-top:13px;
    }

    .link_action {
	color:@yellow;
	cursor: pointer;
	line-height: 42px;
    }
}
.delivery-details__item {
    color:#77736b;
    font-family: @font-family-opensans-semibold;
    font-weight: normal;
    margin-right:15px;
}

.form-lines_details {
    margin-bottom:15px;

    .field-label {
	color:#77736b;
	padding-left:10px;
	text-align:left;
	width:180px;
    }
    .field-box {
	color:#a18c56;
	line-height: 42px;
	height: 42px;
    }
}
/* form-lines > */

/* pack-type < */

.pack-type {
    position:relative;
    padding:0 25px 35px;

    .field-label {
	float:none;
	display:block;
	color:#4e493b;
	font-size:16px;
	line-height:20px;
    }
    .thumbnail {
	border-color:#383225;
	display:block;
	margin:0 auto 8px;

    }

    .pack-type__name {
	display:block;
    }
    .pack-type__price {
	font-size:20px;
	font-family:@font-family-opensans-semibold;
	position:absolute;
	bottom:-48px;
	left:0;
	width:100%;
	text-align:center;
    }
}
.pack-variants {
    overflow:hidden;
    margin:30px 0 15px;
    padding-bottom:32px;
    border-bottom:1px solid #292419;

    .pack-variants__item {
	float:left;
	text-align:center;
	width:243px;

	&:last-child {
	    margin-right:-30px;
	}
	&:first-child {
	    margin-left:-10px;
	}
    }
}

/* pack-type > */

.form_comment {
    .field-label {
	width:85px;
	float:left;
    }

    .field_type_text,
    .field_type_textarea {
	float:left;
	width:793px;
    }
}

.form_pack {
    .btnset {
	margin: 20px 0 30px;
    }
}

.form_order {
    margin-top:0;
    border-bottom: 1px solid #282119;
    padding-bottom:15px;

     .btnset_right {
	width: auto;
    }

    .information-message {
	margin:0;
    }

    .link_refresh,
    .order-price_total-cart {
	display:inline-block;
	vertical-align:middle;
	margin-left:15px;
    }
}

.form_feedback {
    width:258px;

    .field-label {
	white-space:nowrap;
	width:auto;
    }
    .field_type_text,
    .field_type_textarea {
	width:240px;
    }
}

.form_auth {


    .form-fields__item > .field-label {
	width:205px;
    }
    .field_type_text,
    .field_type_textarea {
	width:280px;
    }

    .link_forgot-pass {
	float:right;
	line-height:30px;
    }

    .information-message {
	margin-left:215px;
    }

    .btnset {
	width:510px;
    }
    .field-box {
	line-height:30px;
    }
}

.field_type_code {
    width:90px !important;
    margin:5px 0 0 5px;
}
.form-fields_vertical {
    .field-label {
	display: block;
	float:none;
	margin-bottom:4px;
	width: auto;
	text-align: left;
    }
    .field_type_text,
    .field_type_textarea {
	width: 90%;
    }
}

.column-content {
    .form-fields__item {
	margin-bottom:10px;
    }
}