.ico {
    background-repeat: no-repeat;
    display:-moz-inline-stack;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    font-size:0;
    line-height:0;
}

.ico_search-tracks {
    background-image: url(../images/icons/search.svg);
    background-size:10px auto;
    height: 13px;
    width:11px;
}
.ico_add-post{
    background-image: url(../images/icons/add_post.svg);
    background-size:8px 11px ;
    height: 14px;
    width:9px;
}
.ico_add-track{
    background-image: url(../images/icons/add_track.svg);
    background-size:11px 11px;
    height: 12px;
    width:11px;
}
.ico_site-info {
    background-image: url(../images/icons/top_info.svg);
    background-size:20px 20px;
    height: 20px;
    width:20px;
}
.ico_message_attention {
    background-image: url(../images/icons/info_attention.svg);

    height: 25px;
    width:25px;
}
.ico_message_success {
    background-image: url(../images/icons/info_ok.svg);

    height: 25px;
    width:25px;
}
.ico_message_error {
    background-image: url(../images/icons/info_error.svg);
    height: 25px;
    width:25px;
}
.ico_message_info {
    background-image: url(../images/icons/help.svg);
    height: 25px;
    width:25px;
}
.ico_login {
    background-image: url(../images/icons/enter.svg);
    background-size:13px 13px;
    height: 15px;
    width:13px;
    margin-right:5px;
}

.ico_search-top {
    background-image: url(../images/icons/top_search.svg);
    background-size:16px 16px;
    height: 16px;
    width:16px;
    position: absolute;
    top:7px;
    right:8px;
}
.ico_search-panel {
    background-image: url(../images/icons/search.svg);
    background-size:16px 16px;
    height: 16px;
    width:16px;
    position: absolute;
    top:5px;
    right:10px;
}
.ico_search-post {
    background-image: url(../images/icons/top_search_post.svg);
    background-size:23px 30px;
    height: 30px;
    width:30px;
    margin-left: 6px;
    margin-right: 2px;
}
.ico_search-user {
    background-image: url(../images/icons/top_search_user.svg);
    background-size:30px 30px;
    height: 30px;
    width:30px;
    margin-right:8px;
}
.ico_search-audio {
    background-image: url(../images/icons/top_search_track.svg);
    background-size:30px 30px;
    height: 30px;
    width:30px;
    margin-right:8px;
}
.ico_play-all {
    background-image: url(../images/icons/button_play.svg);
    background-size:7px 10px;
    height:10px;
    width:7px;
}
.ico_sort-up {
    background-image: url(../images/icons/sort_up.svg);
    background-size:9px 10px;
    height:12px;
    width:9px;
}
.ico_selectbox-arrow {
    position: absolute;
    top:12px;
    right:10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #37bc6c transparent transparent transparent;

}
.ico_edit {
    background-image: url(../images/icons/edit.svg);
    background-size:12px 12px;
    height:12px;
    width:12px;
    margin-top:-3px;
}
.ico_delete {
    background-image: url(../images/icons/delete.svg);
    background-size:cover;
    height:10px;
    width:10px;
    margin-top:-2px;
}
.ico_remove {
    background-image: url(../images/icons/remove.svg);
    background-size:9px 3px;
    height:3px;
    width:9px;
    margin-top: -1px;
}
.ico_track-play {
    background-image: url(../images/icons/main_play.svg);
    background-size:50px 50px;
    height:50px;
    width:50px;
}
.ico_track-pause {
    background-image: url(../images/icons/main_pause.svg);
    background-size:50px 50px;
    height:50px;
    width:50px;
}
.ico_users-likes {
    background-image: url(../images/icons/like.svg);
    background-size:11px 10px;
    height:10px;
    width:11px;
    margin-top: -2px;
}
.ico_users-add {
    background-image: url(../images/icons/playlist.svg);
    background-size:11px 11px;
    height:11px;
    width:11px;
    margin-top: -2px;
}
.ico_users-comments {
    background-image: url(../images/icons/comment.svg);
    background-size:11px 10px;
    height:10px;
    width:11px;
}
.ico_users-share {
    background-image: url(../images/icons/share.svg);
    background-size:13px 10px;
    height:10px;
    width:13px;
    margin-top: -1px;
}
.ico_user-follow {
    background-image: url(../images/icons/button_folow.svg);
    background-size:16px 11px;
    height:11px;
    width:16px;
    margin-top: -1px;
    margin-right:4px;
}
.ico_gold-star {
    background-image: url(../images/icons/star.svg);
    background-size:16px 14px;
    height:14px;
    width:16px;
    margin-top: -2px;
}
.ico_back-track {
    background-image: url(../images/icons/top_prev.svg);
    background-size:21px 18px;
    height:18px;
    width:21px;
}
.ico_forward-track {
    background-image: url(../images/icons/top_next.svg);
    background-size:21px 18px;
    height:18px;
    width:21px;
}
.ico_repeat-track {
    background-image: url(../images/icons/top_repeat.svg);
    background-size:21px 18px;
    height:18px;
    width:21px;
}
.ico_shuffle-track {
    background-image: url(../images/icons/top_shuffle.svg);
    background-size:25px 18px;
    height:18px;
    width:25px;
}
.ico_disk {
    background-image: url(../images/icons/empty_track.svg);
    background-size:30px 30px;
    height:30px;
    width:30px;
}
.ico_user-add-post {
    background-image: url(../images/icons/top_add_post.svg);
    background-size:30px 30px;
    height:30px;
    width:30px;
}
.ico_user-add-track {
    background-image: url(../images/icons/top_add_track.svg);
    background-size:30px 30px;
    height:30px;
    width:30px;
}

.ico_envelope {
    background-image: url(../images/icons/top_mail.svg);
    background-size:12px 10px;
    height:10px;
    width:12px;
}
.ico_arrow-down {
    background-image: url(../images/icons/sort_down.svg);
    background-size: 9px 10px;
    height: 12px;
    width: 9px;
}

.ico_bell{
    background-image: url(../images/icons/claim.svg);
    background-size:11px 12px;
    height:12px;
    width:11px;
    margin-top: -2px;
}
.ico_user {
    background-image: url(../images/icons/user.svg);
    background-size:11px 11px;
    height:11px;
    width:11px;
    margin-top: -3px;
}
.ico_envelope-white {
    background-image: url(../images/icons/button_mail.svg);
    background-size:12px 10px;
    height:10px;
    width:12px;
}
.ico_messages{
    background-image: url(../images/icons/mail.svg);
    background-size:12px 10px;
    height:10px;
    width:12px;
    margin-top: -2px;
}
.ico_listenter {
    background-image: url(../images/icons/user_1.svg);
    height:169px;
    width:190px;
}
.ico_performer {
    background-image: url(../images/icons/user_2.svg);
    height:169px;
    width:87px;
}