.ico {
    background-repeat: no-repeat;
    display:-moz-inline-stack;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    font-size:0;
    line-height:0;
}

.ico_search-tracks {
    background-image: url(../images/icons/search.svg);
    background-size:10px auto;
    height: 13px;
    width:11px;
}
